<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <div class="list">
      <div class="card" ng-repeat="simulation in simulatorData | orderByPriority | reverse">
        <div class="item item-divider item-icon-left" ng-dblclick="remove(simulation)">
          <i class="icon {{ simulation.icon }}"></i>
          {{ simulation.token }}
        </div>
        <div class="item item-text-wrap">
          <ion-slide-box>
            <ion-slide ng-repeat="tip in simulation.tips">
              <div class="box blue">{{ tip }}</div>
              <br/><br/>
            </ion-slide>
          </ion-slide-box>
        </div>
        <div class="item item-divider">
            <small>Last few days:</small>
            <trend style="float:right" data="simulation.trend"></trend>
        </div>
      </div>

      <div class="card" ng-if="isEmpty">
        <div class="item item-divider item-icon-left">
          <i class="icon ion-checkmark-circled green"></i>
          Good work!
        </div>
        <div class="item item-text-wrap">
          You are keeping healthy :)
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>
