<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <div class="list">
      <div class="card" ng-repeat="suggestion in suggestions">
        <div class="item item-divider item-icon-left">
          <i class="icon {{ suggestion.icon }}"></i>
          {{ suggestion.name }}
        </div>
        <div class="item item-text-wrap">
          <ion-slide-box>
            <ion-slide ng-repeat="tip in suggestion.tips">
              <div class="box blue">{{ tip }}</div>
              <br/><br/>
            </ion-slide>
          </ion-slide-box>
        </div>
        <div class="item item-divider">
            <small>Last few days:</small>
            <trend style="float:right" data="suggestion.history"></trend>
        </div>
      </div>

      <div class="card" ng-if="suggestions.length == 0">
        <div class="item item-divider item-icon-left">
          <i class="icon ion-checkmark-circled"></i>
          Good work!
        </div>
        <div class="item item-text-wrap">
          You are keeping healthy :)
        </div>
      </div>


    </div>
  </ion-content>
</ion-view>
