<ion-view title="Login">
    <h1>Hello</h1>
    <ion-content class="has-header padding">
    
	<form ng-submit="submit()" role="form" class="login">
        
        <div class="list list-inset">
            <label class="item item-input">
                <input id="userName" type="email" placeholder="Username">
            </label>
            <label class="item item-input">
                <input id="password" type="password" placeholder="Password">
            </label>
        
	 
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Remember me
            </li>

            <button type="submit" class="item item-input button button-block button-positive">
                Login
            </button>
        </div>
	</form>
    
    </ion-content>
</ion-view>



