<ion-view title="Login">
    <h1>Hello</h1>
  <ion-content class="has-header padding">
    
	<form ng-submit="submit()" role="form" class="login">
	  <div class="form-group">
		<label for="userName">Username</label>
		<input type="email" class="form-control" id="userName" placeholder="Username">
	  </div>
	  <div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" placeholder="Password">
	  </div>
	 
	  <div class="checkbox">
		<label>
		  <input type="checkbox"> Remember me
		</label>
	  </div>
	  <button type="submit" class="btn btn-default">Login</button>
	</form>
    
  </ion-content>
</ion-view>



