<ion-view title="Settings">
  <ion-content class="has-header padding">
    
    <div class="list">

      <a class="item item-icon-left" ui-sref='tab.login'>
        <i class="icon ion-person"></i>
        Account
      </a>

      <li class="item item-icon-left" href="#">
        <i class="icon ion-loop"></i>
        Refresh Interval
        <span class="item-note">
        1 hour
        </span>
      </li>
  
      <li class="item item-icon-left item-toggle">
         <i class="icon ion-chatbubble-working"></i>
         Receive Notifications
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </div>
    
  </ion-content>
</ion-view>