<ion-view title="Settings">
  <ion-content class="has-header padding">
    
    <div class="list">

      <a class="item item-icon-left" ui-sref='tab.login'>
        <i class="icon ion-person"></i>
        <label class="input-label">Profile</label>
      </a>

      <li class="item item-icon-left" ui-sref='tab.refreshInterval'>
        <i class="icon ion-loop"></i>
		<label class="input-label">Refresh Interval</label>
        <select class="item-note">
			<option>1 min</option>
			<option>5 mins</option>
			<option>30 mins</option>
		    <option>1 hour</option>
		    <option selected>1 day</option>
		</select>
      </li>
  
      <li class="item item-icon-left item-toggle">
         <i class="icon ion-chatbubble-working"></i>
         <label class="input-label">Receive Notifications</label>
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </div>
    
  </ion-content>
</ion-view>