
<ion-view title="Monthly Trending Graph"> <ion-content
	class="has-header padding">

<div ng-controller="GraphCtrl">
	<cjs-line dataset="lineData"></cjs-line>
	
	 <table class="legend-container">
 		<tr><td><span class="legend" style="background-color: #7D4F6D; "></span><span>Sleep</span></td><td><span class="legend" style="background-color: #F7464A;"></span><span>Activity</span></td></tr>
 		<tr><td><span class="legend" style="background-color: #9D9B7F; "></span><span>Heart Rate</span></td><td><span class="legend" style="background-color: #949FB1;"></span><span>Blood Pressure</span></td></tr>			
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>
	
	 <cjs-bar dataset="barData"></cjs-bar>
	 	 <table class="legend-container">
 		<tr><td><span class="legend" style="background-color: #7D4F6D; "></span><span>Sleep</span></td><td><span class="legend" style="background-color: #F7464A;"></span><span>Activity</span></td></tr>
 		<tr><td><span class="legend" style="background-color: #9D9B7F; "></span><span>Heart Rate</span></td><td><span class="legend" style="background-color: #949FB1;"></span><span>Blood Pressure</span></td></tr>			
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</div>




</ion-content> </ion-view>

