
<ion-view title="Monthly Trending Graph"> <ion-content
	class="has-header padding">

<div ng-controller="GraphCtrl">
	<cjs-line dataset="lineData"></cjs-line>
</div>

<!-- <div class="legend">
		<button class="button button-light"
			style="background-color: #7D4F6D; color: #FFFFFF;"></button>
		Sleep
		<button class="button button-light"
			style="background-color: #F7464A; color: #FFFFFF;"></button>
		Sleep
</div>

<div class="legend">
	
		<button class="button button-light"
			style="background-color: #9D9B7F; color: #FFFFFF;"></button>
		Sleep

		<button class="button button-light"
			style="background-color: #949FB1; color: #FFFFFF;"></button>
		Sleep
</div> -->

</ion-content> </ion-view>

