<ion-view title="Profile">
    <h1>Hello</h1>
    <ion-content class="has-header padding">
    
	<form ng-submit="submit()" role="form" class="login">
			
        <div class="list">
		<div class="item">
           <label>
                Gender
            </label>
			<label  class="item-input">
			<ion-radio ng-model="gender" value="M">Male</ion-radio>
			<ion-radio ng-model="gender" value="F">Female</ion-radio>
			</label>
			</div>
			<div class="item  item-toggle">
			<label>
                Are you diabetic?
            </label>
			<label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
		 </div>
		 <div class="item item-toggle" >
			<label>
                Hyper Tension?
			</label>
			<label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
        </div>
	</form>
    
    </ion-content>
</ion-view>



