<?xml version='1.0' encoding='utf-8'?>
<widget id="ubc.mss.lifely" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Lifely</name>
    <description>
        Lets stay Healthy
    </description>
    <author email="health-monitor-app@googlegroups.com" href="http://getlifely.com">
       Team Lifely
    </author>
    <content src="index.html" />
    <access origin="*" />
	<feature name="Notification">
    <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
</feature>
</widget>
