/* Empty. Add your own CSS if you like */
.trend-box {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin: 1px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.float-right {
  float: right;
}

canvas{
	margin-top: 5%;
	margin-left:5%;
  	width: 90% !important;
 	height: 90% !important; 
 	overflow: scroll; 
 }
.green{color:green;}
.red{color:red;}
.orange{color:orange;}
.blueIcon{color:blue;}

.legend{
	display:inline-block; height: 8px; width:8px;
	margin-right: 5px;
} 

.legend-container{
	width:80%;
	margin:0 auto;
	text-align: left;
}
.button-light{
	margin-left:25px;
}
