/* Empty. Add your own CSS if you like */
.trend-box {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin: 1px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.float-right {
  float: right;
}

canvas{
	margin-top: 20%;
	margin-left:5%;
 	width: 90% !important;
 	height: 90% !important;
 	overflow: scroll; 
 }